@using Oblig1.Model
@using Oblig1.Controllers
@model IEnumerable<Oblig1.DAL.Items>
<br />
<br />
<br />

@if (Model != null)
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">

                    <img src="@item.PictureURL" alt="" height=100 width=200>
                    <h4>@Html.DisplayFor(modelItem => item.Itemname)</h4>

                        <h3>@item.Itemprice kr</h3>
                        @Html.DisplayFor(modelItem => item.Itemtype)
                        <br />
                        <td>
                            @Html.ActionLink("Edit", "ItemEdit", new { id = item.Itemid }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Delete", "ItemDelete", new { id = item.Itemid }, new { @class = "btn btn-danger" })

                        </td>
                </div>
            </div>
        }
    </div>
}

<h2>Index</h2>

<p>
    <button class="btn btn-success">@Html.ActionLink("Add new item", "ItemCreate")</button>
</p>