@model IEnumerable<Oblig1.Model.Item>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<head>
    <title>Index</title>
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $('#fill').click(function () {
            var url = "/User/Filler";
            $.post(url);

        });
    });
    </script>

</head>

@if (Model != null)
{

    <div class="row">
        @foreach(var item in Model)
        {
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="@item.pictureURL" alt="...">
                <div class="caption">
                    <h3>@item.itemname</h3>
                    <p>Antall på lager: @item.currentstock<br />kr @item.itemprice,00</p>

                    <button class="btn btn-success">@Html.ActionLink("Legg til handlekurv", "Index", new { id = item.itemid }, null)</button>




                </div>
            </div>
        </div>
        }
    </div>


}
<button class="btn btn-success" id="fill" value="Fill Database">Fill database with items, users and orders </button>



