@model Oblig1.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Kasse";
}
<script src="/Scripts/jquery-1.10.2.min.js"
        type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $(".RemoveLink").click(function () {
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                $.post("RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });
    });
</script>

<br />
<br />
<br />
<br />
<div id="update-message">
</div>
<table class="table table-hover">
    <tr>
        <th>
            Produkt
        </th>
        <th>
            Pris per stk
        </th>
        <th>
            Antall
        </th>
        <th></th>
    </tr>
    @foreach (var i in
Model.CartItems)
    {
        <tr id="row-@i.Cartid">
            <td>
                @i.Item.Itemname
            </td>
            <td>
                @i.Item.Itemprice kr
            </td>
            <td id="item-count-@i.Cartid">
                @i.Count
            </td>
            <td>
                <a href="#" class="RemoveLink" data-id="@i.Cartid">
                    <button type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span> Fjern
                    </button>
                </a>
            </td>
        </tr>
    }
    <tr>
        <td>
            Totalt
        </td>
        <td id="cart-total">
            @Model.CartTotal kr
        </td>
        <td></td>
                <td data-toggle="modal" data-target="#betalModal"> @Html.ActionLink("  Gå til betaling", "Create", null, null)</td>
    </tr>
</table>

    <!-- Modal -->
<div class="modal fade" id="betalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Betaling</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <tr>
                        <th>
                            Produkt
                        </th>
                        <th>
                            Pris per stk
                        </th>
                        <th>
                            Antall
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var i in Model.CartItems)
                    {
                        <tr id="row-@i.Cartid">
                            <td>
                                @i.Item.Itemname
                            </td>
                            <td>
                                @i.Item.Itemprice kr
                            </td>
                            <td id="item-count-@i.Cartid">
                                @i.Count
                            </td>
                            <td>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            Totalt
                        </td>
                        <td id="cart-total">
                            @Model.CartTotal kr
                        </td>
                        </table>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                                Visa
                            </label>
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                Mastercard
                            </label>
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                                AmEx
                            </label>
                        </div>
                        <div class="container">
                            <form role="form">
                                <div class="row">
                                    <div class="form-group col-lg-2">
                                        <label for="code">Kortnummer</label>
                                        <input type="text" class="form-control" placeholder="**** **** **** ****" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-1">
                                        <label for="code">CVC</label>
                                        <input type="text" class="form-control" placeholder="***" />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success">Betal</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Avbryt</button>
                        </div>

            </div>
        </div>
    </div>
</div>

